@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,585;1,14..32,585&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

*{
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 585;
    font-style: normal;
}